<form>
    <!-- Email -->
    <div class="mb-3">
        <label for="login-email" class="form-label">Email Address</label>
        <input type="email" class="form-control" id="login-email">
    </div>
    <!-- Password -->
    <div class="mb-3">
        <label for="login-password" class="form-label">Password</label>
        <input type="password" class="form-control" id="login-password">
    </div>
    <!-- Submit -->
    <button type="submit" class="btn btn-primary">Submit</button>
</form>