<form id="login-form">
    <!-- Email -->
    <div class="mb-3">
        <label for="login-user" class="form-label">Username</label>
        <input type="text" class="form-control" id="login-user">
    </div>
    <!-- Password -->
    <div class="mb-3">
        <label for="login-password" class="form-label">Password</label>
        <input type="password" class="form-control" id="login-password">
    </div>
    <!-- Submit -->
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<p>Test username / password: <br>
    MrUserFace / password123
</p>

<script src="./js/login.js"></script>