<form>
    <!-- Username -->
    <div class="mb-3">
        <label></label>
        <input>
        <div></div>
    </div>
    <!-- Email -->
    <div class="mb-3">
        <label></label>
        <input>
        <div></div>
    </div>
    <!-- Password -->
    <div class="mb-3">
        <label></label>
        <input>
        <div></div>
    </div>
    <!-- Password confirm -->
    <div class="mb-3">
        <label></label>
        <input>
        <div></div>
    </div>
    <!-- Submit -->
    <button type="submit" class="btn btn-primary">Submit</button>
</form>